html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #333;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body.modal-open {
  overflow-y: hidden;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus {
  outline: none;
}

/* Remove button styling */

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  box-sizing: content-box;
  font-family: inherit;
  cursor: pointer;
}

/* Element CSS */

h1 {
  font-family: "Rubik";
  font-size: 2rem;
}

h2 {
  margin: 0;
  padding: 2rem 0;
  font-family: "Rubik";
  font-size: 8vw;
}

@media screen and (min-width: 600px) {
  h2 {
    font-size: calc(1.5rem + 2vmin);
  }
}

p {
  font-size: 1.3125rem;
}

/* Section CSS */

.App {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .App {
    width: 80vw;
    padding: 0;
  }
}

header {
  display: flex;
  justify-content: space-between;
}

header,
section {
  margin: 1rem 0 0 0;
}

#home {
  margin: 1rem 0 5rem 0;
}

#home p {
  font-size: 1.5rem;
}

#home a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

#home a::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #333;
  transition: height 120ms linear;
}

#home a:hover::after {
  height: 0.125rem;
}

#about p {
  text-align: left;
}

#about div + p {
  margin-top: 2.625rem;
}

#about p + div {
  margin-top: 2.625rem;
}

#about ul {
  padding: 0 0 0 1.25rem;
  font-size: 1.3125rem;
  text-align: left;
}

#about li {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 600px) {
  header,
  section {
    margin: 5rem 0 0 0;
  }
  #home {
    margin: 2.5rem 0 12rem 0;
  }
  #about p {
    padding: 0 1rem;
  }
  #about ul {
    padding: 0 0 0 2.25rem;
  }
}

.profile-pic {
  width: 11rem;
  height: auto;
  border-radius: 50%;
}

.about-pic {
  width: 100%;
  height: auto;
}

/* Hamburger CSS */

.hamburger-wrapper {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  margin: auto 0;
}

.hamburger {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  transition: opacity 150ms linear;
  z-index: 2;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  position: absolute;
  display: block;
  width: 2.5rem;
  height: 0.25rem;
  background-color: #333;
  border-radius: 0.25rem;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
}

.hamburger-inner {
  top: 50%;
  margin-top: -0.125rem;
  transition: transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-inner::before {
  top: -0.625rem;
  transition: top 75ms ease 120ms, opacity 75ms ease;
}
.hamburger-inner::after {
  bottom: -0.625rem;
  transition: bottom 75ms ease 120ms,
    transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition: transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 120ms;
}

.hamburger.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 75ms ease, opacity 75ms ease 120ms;
}

.hamburger.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 75ms ease,
    transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 120ms;
}

.hamburger-menu {
  position: absolute;
  visibility: hidden;
  right: 0;
  opacity: 0;
  font-family: "Rubik";
  font-size: 2rem;
  text-align: right;
  z-index: 2;
}

.hamburger.is-active ~ .hamburger-menu {
  visibility: visible;
  opacity: 1;
}

.hamburger-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hamburger-menu li {
  margin: 1rem 0;
  opacity: 0;
  transform: translateX(-1rem);
}

.hamburger-menu a {
  color: #000;
  text-decoration: none;
}

.hamburger-background {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: #f4f4f4;
  transition: visibility 0ms 300ms, opacity 300ms ease-in;
  z-index: 1;
}

.hamburger.is-active ~ .hamburger-menu ~ .hamburger-background {
  visibility: visible;
  opacity: 1;
  transition: visibility 0ms, opacity 300ms ease-out;
}

.hamburger.is-active ~ .hamburger-menu li {
  animation: hamburger-menu-li 300ms ease-out forwards;
}

@keyframes hamburger-menu-li {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}

/* Project Card CSS */

.project-cards-wrapper {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.project-card {
  position: relative;
  padding: 0.625rem 0;
  color: #333;
  text-align: left;
  cursor: pointer;
}

.card-image {
  width: 100%;
  /* height: 17.5rem; */
}

@media screen and (min-width: 600px) {
  .project-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;
    width: 100%;
    margin-left: 0;
  }
  .project-card {
    padding: 0;
  }
  .card-image {
    width: 100%;
    /* height: 17.5rem; */
  }
}

@media screen and (min-width: 800px) {
  .project-cards-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-details-wrapper {
  padding: 0 1rem;
}

@media screen and (min-width: 600px) {
  .card-details-wrapper {
    padding: 0;
  }
}

.card-title {
  margin: 0 0 0.125rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.card-tags {
  margin: 0 0 0.5rem 0;
  padding-left: 0.0625rem;
  color: #999;
  font-size: 0.875rem;
  line-height: 0.875rem;
}

.card-instruction {
  position: relative;
  display: inline-block;
  margin: 0 0 0.5rem 0;
  padding-left: 0.0625rem;
  color: #999;
  font-size: 1rem;
  transition: color 120ms linear;
}

.project-card:hover .card-instruction {
  color: #333;
}

.card-instruction::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: #999;
  transition: background-color 120ms linear;
}

.project-card:hover .card-instruction::after {
  background-color: #333;
}

/* Project Board CSS */

.board-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.9);
  overflow-y: auto;
  z-index: 2;
}

.project-board {
  width: 100vw;
  max-width: 62.5rem;
  margin: 0 auto;
  background-color: #f4f4f4;
  animation: fade-up-anim 300ms ease-out forwards;
}

@keyframes fade-up-anim {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.board-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.project-title {
  width: 100%;
  font-family: "Rubik";
  font-size: 2rem;
  text-align: left;
}

.close-button {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2.5rem;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: opacity 150ms linear;
}

.close-button:hover {
  opacity: 0.7;
}

.close-inner,
.close-inner::after {
  position: absolute;
  display: block;
  width: 2rem;
  height: 0.1875rem;
  background-color: #333;
  border-radius: 0.1875rem;
}

.close-inner {
  top: 50%;
  margin-top: -0.09375rem;
  transform: rotate(45deg);
}

.close-inner::after {
  content: "";
  transform: rotate(-90deg);
}

.hero-image {
  width: 100%;
  height: auto;
}

.project-detail-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.3125rem;
  text-align: left;
}

.project-description p {
  margin: 0 0 1.3125rem 0;
}

.project-links-tags {
  margin: 2rem 0;
}

.project-links-tags h3 {
  margin: 0 0 0.125rem 0.125rem;
  font-family: "Rubik";
}

@media screen and (min-width: 800px) {
  .project-board {
    width: 70vw;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 0.375rem;
  }
  .project-detail-wrapper {
    flex-direction: row;
  }
  .project-description {
    width: 70%;
  }
  .project-links-tags {
    width: 30%;
    margin: 0 0 0 2rem;
  }
}

/* Project Links CSS */

.project-links-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0.25rem 0 1rem 0;
}

.project-link {
  flex-grow: 1;
  height: 2.25rem;
  margin: 0.25rem 0.125rem;
  padding: 0 1rem 0 2.375rem;
  color: white;
  background-color: #333;
  border-radius: 1.125rem;
  font-size: 1.125rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms linear;
}

.project-link:hover {
  background-color: #666;
}

#demo-link {
  background-image: url("./images/play-icon-24px.svg");
  background-repeat: no-repeat;
  background-size: 2.25rem 2.25rem;
}

#github-link {
  background-image: url("./images/github-icon-24px.svg");
  background-repeat: no-repeat;
  background-size: 2.25rem 2.1875rem;
}

.github-icon {
  border-radius: 50%;
}

/* Project Tags CSS */

.project-tags-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.project-tag {
  flex-grow: 1;
  height: 2.25rem;
  margin: 0.25rem 0.125rem;
  padding: 0 1rem;
  border-radius: 1.125rem;
  font-size: 1.125rem;
  line-height: 2rem;
  text-align: center;
  cursor: default;
}

.tag-icon {
  width: 2.25rem;
  height: 2.25rem;
  margin: 0.25rem 0.125rem;
}

/* Carousel CSS */

.carousel {
  position: relative;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.carousel-view {
  overflow: hidden;
}

.carousel-content {
  position: relative;
  display: flex;
}

.carousel-item {
  width: 100vw;
  max-width: 125rem;
}

.carousel-indicator-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 5%;
  width: 100%;
  height: calc(0.5rem + 1vmin);
  z-index: 1;
}

.carousel-indicator {
  width: calc(0.5rem + 1vmin);
  margin: 0 calc(0.5rem + 1vmin);
  background-color: transparent;
  box-sizing: border-box;
  border: 0.125rem solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 120ms linear, transform 120ms ease-in-out;
}

.carousel-indicator.active {
  background-color: white;
}

.carousel-arrow {
  position: absolute;
  visibility: hidden;
  top: calc(50% - (1rem + 1vmin));
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  z-index: 1;
  transition: transform 120ms ease-in-out;
}

.carousel-arrow.left {
  left: -3.5rem;
}

.carousel-arrow.right {
  right: -3.5rem;
}

.carousel-arrow-inner,
.carousel-arrow-inner::before,
.carousel-arrow-inner::after {
  position: absolute;
  display: block;
  width: 2.5rem;
  height: 0.25rem;
  background-color: white;
  border-radius: 0.25rem;
}

.carousel-arrow-inner::before,
.carousel-arrow-inner::after {
  content: "";
}

.carousel-arrow-inner {
  top: 50%;
  margin-top: -0.125rem;
}

.carousel-arrow-inner.left::before {
  top: -0.625rem;
  transform: translate3d(-0.5rem, 0, 0) rotate(-45deg) scale(0.7, 1);
}
.carousel-arrow-inner.left::after {
  bottom: -0.625rem;
  transform: translate3d(-0.5rem, 0, 0) rotate(45deg) scale(0.7, 1);
}

.carousel-arrow-inner.right::before {
  top: -0.625rem;
  transform: translate3d(0.5rem, 0, 0) rotate(45deg) scale(0.7, 1);
}
.carousel-arrow-inner.right::after {
  bottom: -0.625rem;
  transform: translate3d(0.5rem, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.carousel-arrow:hover,
.carousel-indicator:hover {
  transform: translateY(-0.25rem);
}

#about .carousel:first-of-type {
  margin-top: 0;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 800px) {
  .carousel {
    width: 80vw;
    max-width: 75rem;
    margin: 0;
  }
  .carousel-item {
    width: 80vw;
    max-width: 75rem;
  }
  .project-board .carousel {
    width: 70vw;
    max-width: 62.5rem;
  }
  .project-board .carousel-item {
    width: 70vw;
    max-width: 62.5rem;
  }
  .project-board .carousel-arrow {
    visibility: visible;
  }
}
